body{
  background-color: white;
  margin: 0;
  padding: 0;
  
}
.container{
background-color: antiquewhite;
padding: 2rem;
display: grid;
grid-template-areas: 
"header header header "
"sidebar content content "
"sidebar main main "
"footer footer footer ";
}
.item{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px;
}
.t1{
  grid-area: header;
}
.t2{
  grid-area: sidebar;
}
.t3{
  grid-area: content;
}
.t4{
  grid-area: main;
}
.t5{
  grid-area: footer;
}
.myMain{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.bnt1{
  background-color: greenyellow;
  border: none;
  border-radius: 10px;
  width: 50px;
  padding: auto;
}